.hero_fifty_fifty_section {
  .hero_fifty_fifty_container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    .hero_fifty_fifty_headline {
      background-color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 50px;
      h1 {
        color: #fff;
        text-transform: uppercase;
      }
    }

    .hero_fifty_fifty_image {
      width: 100%;
      img {
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) {
  .hero_fifty_fifty_section {
    .hero_fifty_fifty_container {
      flex-direction: row;
      .hero_fifty_fifty_headline {
        width: 50%;
      }
      .hero_fifty_fifty_image {
        width: 50%;
      }
    }
  }
}
