.site-footer {
  background-color: $grey;
}

.footer_socials_container {
  border-top: 2px solid $red;
  border-bottom: 2px solid $red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 0;
}

.footer_socials_container a {
  margin: 15px 35px;
}

.footer_socials_container img {
  max-width: 35px;
}

footer ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;

}

footer ul.menu li {
  list-style: none;
  text-decoration: none;
}

footer ul.menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

footer ul.menu li a:hover {
  color: $red;
}

footer ul.menu li li {
  display: none;
}

.footer_bottom_container {
  padding: 0 5px 0 0;
  margin-top: 25px;
}

.footer_bottom_container h6 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .footer_socials_container img {
    max-width: 75px;
  }
}
