.page_grid {
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 1024px) {
  .page_grid {
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
  }
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
  section {
    margin-bottom: 15px;
  }

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

.page_hero_container {
  display: flex;
  flex-direction: column;

  .home_hero_section {
    .home_hero_wrapper {
      position: relative;
      .home_hero_content {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;

        .home_hero_content_wrapper {
          max-width: 1250px;
          margin: 0 20px;
        }
      }

      img {
        width: 100%;
        max-height: 650px;
      }
    }
  }
}

.page_content_container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;

  section {
    margin-bottom: 15px;
  }
}

aside {
  background-color: $grey;
  section {
    padding: 0 15px;

    .sponsors_container {
      padding: 0;
    }
  }
}
