.main-navigation {
  display: block;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      position: relative;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.shopping_cart_wrapper {
  position: absolute;
  right: 0;
}

.shopping_cart_wrapper img {
  max-width: 50px;
  position: fixed;
  top: 10px;
  left: 0;
}

.logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  .nav_toggle_btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: $yellow;
    outline: none;
    z-index: 99;
  }
  .nav_menu_burger {
    width: 35px;
    height: 4px;
    background: #fff;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    display: flex;
    border: none;
    outline: none;
    margin-left: -3px;
  }
  .nav_menu_burger::before {
    width: 35px;
    height: 4px;
    background: #fff;
    transition: all 0.5s ease-in-out;
    content: "";
    position: absolute;
    transform: translateY(-10px);
  }
  .nav_menu_burger::after {
    width: 35px;
    height: 4px;
    background: #fff;
    transition: all 0.5s ease-in-out;
    content: "";
    position: absolute;
    transform: translateY(10px);
    padding: 0;
    margin: 0;
  }
  button {
    border: none;
  }
  .outer-nav li {
    list-style: none;
  }
  .outer-nav img {
    max-width: 150px;
  }
  /* animation */
  .nav_toggle_btn.navOpen .nav_menu_burger {
    transform: translateX(-50px);
    background: transparent;
  }
  .nav_toggle_btn.navOpen .nav_menu_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .nav_toggle_btn.navOpen .nav_menu_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  nav#site-navigation .showNav {
    position: fixed;
    background-color: $darkGray;
    color: red;
    top: 0;
    height: 75%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
  }

  nav#site-navigation .showNav li a {
    font-size: 16px;
    color: #fff;
  }
}

.nav_top_wrapper img {
  max-width: 200px;
}

.main-navigation ul li a {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  color: #fff;
}

.main-navigation ul li a:hover {
  color: $red;
}

header {
  background-color: $darkGray;
}

@media (min-width: 768px) {
  .main-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .main-navigation .menu-menu-1-container {
    width: 90%;
    margin: 0 auto;
  }

  .main-navigation .menu {
    width: 100%;
  }

  .main-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;

    ul {
      border: none;
      display: none;
    }
  }

  .nav_socials_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav_socials_container a {
    margin: 0 10px;
  }

  .nav_socials_container img {
    max-width: 25px;
  }

  .header_wrapper {
    max-width: 1250px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
  }

  .menu-toggle {
    display: none;
  }

  nav#site-navigation .menu-item-has-children .sub-menu {
    display: none;
    position: absolute;
  }
}

nav#site-navigation .menu-item-has-children .sub-menu.showNavDropdown {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 75%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-navigation .menu {
    width: 100%;
  }
  .main-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid red;
    padding: 0 2.5rem;
    width: 100%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  .nav_socials_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav_socials_container a {
    margin: 0 10px;
  }
  .nav_socials_container img {
    max-width: 25px;
  }
}
