.text_bottom_spacing {
    margin-bottom: 10px;
    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
    img {
        margin: 0 auto;
    }
}

.hide {
    display: none !important;
}

.dropdown_active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section_cta {
    margin: 20px 0;
    a {
        background-color: $red;
        padding: 15px 20px;
        border-radius: 5px;
        &:hover {
            background-color: $black;
            color: #fff;
        }
    }
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
