.team_cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15px;
}

.individual_player_card {
  position: relative;
  width: 90%;
  margin: 0 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 44px 0 $lightGray;
  border-radius: $borderRadius;
  align-items: center;
  margin-bottom: 25px;
  max-width: 350px;
  justify-content: space-between;

  h1, h2, h3, h4, h5, h6, p{
    margin: 10px 0;
  }
}

.individual_player_card .indv_player_card_flag {
  max-width: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.individual_player_card .indv_player_card_headshot {
  max-height: 300px;
}

.individual_player_card .indv_player_card_title {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}

.individual_player_card .indv_player_card_gamertag {
  color: #fff;
  font-size: 36px;
  margin: 0 0 20px 0;
}

.individual_player_card .indv_player_card_gamertag .indv_player_card_full_name {
  color: #fff;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.individual_player_card .indv_player_card_socials_container img {
  max-width: 35px;
  margin: 0 10px;
}

.indv_player_card_headshot_placeholder {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: $red;
  -webkit-box-shadow: -6px -6px 10px 0 $lightGray, 6px 6px 10px 0 $lightGray;
  box-shadow: -6px -6px 10px 0 $lightGray, 6px 6px 10px 0 $lightGray;
}

.indv_player_card_headshot_placeholder img {
  top: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
}

@media (min-width: 768px) {
  .individual_player_card {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .individual_player_card {
    width: 30%;
  }
}
