.sponsors_section {
  background-color: $darkGray;
  .sponsors_container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    h2 {
      margin: 0;
    }
    .sponsors_content_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .sponsor_element {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .sponsors_section {
    .sponsors_container {
      .sponsors_content_wrapper {
        .sponsor_element {
          width: 30%;
        }
      }
    }
  }
}
