.contact_form_container {
  form {
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      width: 100%;
    }
  }
  label {
    color: #fff;
  }
  input {
    margin-bottom: 25px;
    padding: 20px 10px;
    border: 1px none $lightGray;
    background-color: $lightGray;
    color: #fff;
    font-size: 16px;
    width: 100%;
  }
  textarea {
    padding: 20px 10px;
    border: 1px none $lightGray;
    background-color: $lightGray;
    color: #fff;
    font-size: 16px;
    max-height: 200px;
  }

  input[type="submit"] {
    padding: 20px 10px;
    margin-bottom: 3.5rem;
    background: $red;
    box-shadow: -6px -6px 10px 0 $lightGray;
    border-radius: $borderRadius;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    min-width: 200px;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  input[type="submit"]:hover {
    background: $yellow;
  }
}

@media (min-width: 768px) {
  .contact_form_container {
    form {
      p {
        width: 45%;
      }
    }
  }
}
