.news_article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 10px 15px;
  border: 2px solid #fff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 10px 0;
  }

  .news_post_thumbnail {
    width: 100%;
    max-width: 600px;
  }

  .cta_btn {
    margin: 10px auto;
  }

  .news_card_image,
  .news_card_details {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .news_article {
    flex-direction: row;

    .news_card_image,
    .news_card_details {
      width: 48%;
    }
  }
}
