.team_main .page_hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_main .page_hero_section img {
  max-width: 300px;
}

.team_main .page_hero_section h1 {
  margin: 0 0 25px 0;
  color: #fff;
}

.all_teams_individual {
  display: flex;
  flex-direction: column;
}

.all_teams_individual a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.all_teams_individual a h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
  border-bottom: 2px solid $yellow;
  text-align: center;
}

.all_teams_individual:hover {
  background-color: $lightGray;
}

.all_teams_individual a h3:hover {
  color: $red;
}

@media (min-width: 768px) {
  .all_teams_individual a h3 {
    font-size: 54px;
  }
}

@media (min-width: 1024px) {
    .all_teams_individual a h3 {
      font-size: 72px;
    }
  }
  
