.gallery_carousel_section {
    .gallery_carousel_container {
        .gallery_carousel_images_wrapper {
            margin: 0 50px;
            img {
                width: 100%;
            }
            .slick-track {
                display: flex;
                align-items: center;
                .slick-slide {
                    margin: 0 10px;
                }
            }
        }
    }
}
